{
  {{ caddy_admin }}
}

{% for service in netbox_services %}
{{ service.custom_fields.domain }} {
  reverse_proxy {
    to {{ service.ipaddresses[0].address | split('/') | first }}:{{ service.ports[0] }}
    {% if service.custom_fields.protocol_http == 'HTTPS' %}
    transport http {
      tls
      tls_insecure_skip_verify
    }
    {% endif %}
  }
}
{% endfor %}
